$color_1: rgb(83, 175, 19);
$background-color_1: black;
$background-color_2: rgb(245, 23, 23);
$background-color_3: rgb(160, 244, 120);
$border-color_1: rgb(83, 175, 19);

body {
    background-image: url("/images/oceanpic.jpg");
    background-repeat: repeat;
    background-size: cover;
}


div#gameboard {
	position: relative;
	width: 1025px;
	height: 890px;
	margin: auto;
	background-image: url("/images/gameboard.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-color: $background-color_1;
}

div#messageArea {
	position: absolute;
	top: 0px;
	left: 0px;
	color: $color_1;
}

table {
	position: absolute;
	left: 173px;
	top: 98px;
	border-spacing: 0px;
}

td {
	width: 94px;
	height: 94px;
}

form {
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 15px;
	background-color: $background-color_2;
	input {
		background-color: $background-color_3;
		border-color: $border-color_1;
		font-size: 1em;
	}
}

.hit {
	background: url("/images/ship.png") no-repeat center;
}

.miss {
	background: url("/images/miss.png") no-repeat center;
}

@mixin text($color: $background-color_1 , $size: larger) {
    color: $color;
    font-size: 2em;
    text-shadow: 2px 2px $color_1;
    font-weight: bolder;
    text-align: start;
    text-indent: 2%;
    @content  
}

figcaption#music {
     font-size: 2em;
     @include text {color: $background-color_1;
    }
    
}